<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
<table>
<% @tasks.each do |task| %>
<tr>
      <td><%= form_with url: mark_completed_task_path(task), method: :patch do |f| %>
        <%= f.check_box :complete, :checked => task.complete, onclick: 'this.closest("form").submit()' %>
      <% end %></td>

      <% if task.complete == true %>
        <td><p><strike><%= task.title%></strike></p></td>
      <% else %>
        <td><p><%= task.title%></p></td>
      <% end %>

  <td><%= link_to 'Edit', edit_task_path(task) %></td>
  <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
<% end %>
</tr>
</table>

<table>
  <tr>
    <%= form_for @new_task do |f| %>
      <td><p><%= f.text_field :title %></p></td>
      <%= f.hidden_field :list_id, :value => @list.id %>
      <td><%= f.submit "add Todo" %></td>
    <% end %>
  </tr>
</table>
<%= link_to 'Back', lists_path %>
