<h2>змінити</h2>
<%= form_for :task, url: task_path(@task), method: :patch do |f| %>
<% if @task.errors.any? %>
<% @task.errors. full_messages.each do |msg| %>
<div class="alers alers-danger"><%= msg %></div>
<% end %>
<% end %>
	<p>
		назва <br>
		<%= f.text_field(:title, {:class => 'form-control'}) %>
	</p>
	<p>
		<%= f.submit ({:class => 'btn btn-success'})%>
	</p>
	<% end %>
    <%= link_to 'Back', lists_path %>